.navigation {
  display: flex;
  width: 50%;
  justify-content: space-around;
  color: gray;
}
.navigation a {
  text-decoration: none;
}
.active {
  color: black;
}

header {
  display: flex;
  justify-content: end;
  font-size: larger;
}

.container {
  margin-left: 5vw;
  margin-top: 5vh;
}

footer {
  display: flex;
  justify-content: space-around;
  color: gray;
  margin-top: 7vh;
}
